<div class="formContainer text-center">
  <label class="mb-4">Type your number</label>
  <form>
    <div class="form-group">
      <input
        type="text"
        maxlength="10"
        oninput="this.value=this.value.replace(/[^0-9]/g,'');"
        class="form-control"
        (ngModel)="(onlyNumbers)"
        (keyup.enter)="startLoading()"
      />
      <small class="form-text text-muted mt-1"
        >less than 10<sup>10</sup> numbers</small
      >
    </div>
    <app-spring-spinner *ngIf="isloaderLoaded"
    class="springFade d-flex justify-content-center"
        [animationDuration]="1000"
        [size]="60"
        [color]="'#04aeda'">
    </app-spring-spinner>
  </form>

  <div class="container result" *ngIf="isLoaded">
    <div class="card" >
      <div class="card-body">
        <label for=""
          >Number <strong>{{ mayBePrimeNumber }}</strong> {{ isPrime }}</label
        >
      </div>
      
    </div>
  </div>
</div>
